{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "<storage-connection-string-or-use-different-local-storage>",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "MAILJET_API_KEY": "<your-mailjet-api-key-public>",
    "MAILJET_API_SECRET": "<your-mailjet-api-secret>",
    "FROM_EMAIL": "bijumatprof@gmail.com",
    "FROM_NAME": "Virtuous IT",
    "TO_EMAIL": "bijumatprof@gmail.com"
  }
}
